.section1 {
  width: auto;
  /* background-image: url('/assets/sec4Bg.png'); */
  background-size: cover;
  background-position: center;
}

.navbar {
  height: 82px;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  border-radius: 20;
}
li {
  float: left;
}
li a {
  /* margin-bottom: 18px; */
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

ul.links .nav-item {
  font-family: 'robotoRegular';
  padding: 0 20px;
  font-size: 14px;
  margin-right: 22px;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 32px;
}
ul.links .nav-item:first-child {margin-left: 30px}
.nav-item a {padding: 0}
.nav-item.active {
  background-color: #C62CB6;
  border-radius: 30px;
  color: white;
}
.navbar-nav .nav-item:hover {
  background-color: #C62CB6 !important;
  border-radius: 30px;
  color: white;
  box-shadow: 24px 32px 42px 0 rgba(0, 0, 0, 0.3), 0 6px 30px 0 rgba(0, 0, 0, 0.10);
}
.navbar-nav .nav-item:hover A.nav-link {color: #ffffff !important}

.section-navbar>ul>li>a:hover {
  color: #ffffff !important;
}
li.nav-item.active a{
  color: #ffffff;
 }


/* .content {
  display: flex;
} */
.smallText {
  font-size: 30px;
  font-weight: normal;
}
.heading {
  font-size: 40px;
  margin-top: 40px;
  margin-left: 0px;
  color: #595f6f;
  font-family: 'robotoBold';
}
.gCircle {
  margin-top: 40px;
  width: 170px;
  height: 110px;
  display: block;
}

.thumbnail {
    position: relative;
    display: inline-block;
    margin-left: -35px;
}


.container1 {
  margin-top: 60px;
}

.navImage {
  margin-top: -5px;
  width: 40.5px;
  height: 46.5px;
}
.btn-primary, .btn-primary:hover, .btn-primary:active, .btn-primary:visited {
  background-color: #cc3ea1 !important;
  border-width: 0;
  border-radius: 5px;
  color: #ffffff !important;
  margin-top: 20px;
  font-weight: lighter;
  font-family: 'robotoMedium' !important;
  letter-spacing: 0.5px;
  font-size: 12px;
}
.btn {
  padding-top: 14px;
  padding-bottom: 14px;
}
.shadow {
  box-shadow: 24px 32px 42px 0 rgba(0, 0, 0, 0.3), 0 6px 30px 0 rgba(0, 0, 0, 0.10);
}
.bg-light {
  background-color: #ffffff !important;
  /* background-color: #f7f8fb !important; */
}
.navbar.navbar-default .navbar-brand {
  color: #f7f8fb;
}
.navbar.navbar-default .navbar-text {
  font-family: 'robotoRegular';
  color: black;
}
.navbar-landing {display: flex; align-items: flex-start}
.navbar-landing ul .nav-item {margin-top: 20px}
.bgcolor {
  color: #E5EDED;
  width: auto;
  /* height: 600px; */
}


.subtext {
  color: #5d3acc;
  margin-left: -30px;
  margin-top: 40px;
  font-family: 'robotoRegular';
}
.subtext2 {
  margin-left: -30px;
  color: #595f6f;
  font-size: 12px;
  margin-top: -10px;
  font-family: 'robotoRegular';
}
.rowdirection {
  display: flex;
  flex-direction: row;
}



.btnPosition {
  margin-left: 50px;
  margin-top: 10px;
}

.navImage2 {
  margin-left: 10px;
  margin-top: 50px;
  /* margin-left: 90px; */
  width: 80px;
  height: 100px;
}
