.section1 {
  width: auto;
  /* background-image: url('/assets/sec4Bg.png'); */
  background-size: cover;
  background-position: center;
}

.navbar {
  height: 82px;
}
.section2 {
  width: auto;
  height: 700px;
  background-image: url('/assets/sec2Bg.png');
  margin: 92px 0 0 0;
  padding: 0;
  background-repeat: no-repeat;
  background-size: auto;
  position: relative;
  background-position: right top;
}
.section3 {
  width: auto;
  height: auto;
  background-image: url('/assets/sec3Bg.png');
  background-size: cover;
  background-position: center;
  padding-top: 60px;
}
.section4 {
  margin-bottom: 140px;
  width: auto;
  height: auto;
  background-image: url('/assets/sec4Bg.png');
  background-size: cover;
  background-position: center;
}
.section5 {
  margin-top: 60px;
  width: auto;
  height: auto;
  background-image: url('/assets/sec4Bg.png');
  background-size: cover;
  background-position: center;
  margin-bottom: 60px;
}
.footerBackground {
  width: auto;
  height: auto;
  background-image: url('/assets/footerBG.png');
  background-size: cover;
  background-position: center;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  border-radius: 20;
}
li {
  float: left;
}
li a {
  /* margin-bottom: 18px; */
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

ul.links .nav-item {
  font-family: 'robotoRegular';
  padding: 0 20px;
  font-size: 14px;
  margin-right: 22px;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 32px;
}
ul.links .nav-item:first-child {margin-left: 30px}
.nav-item a {padding: 0}
.nav-item.active {
  background-color: #C62CB6;
  border-radius: 30px;
  color: white;
}
.navbar-nav .nav-item:hover {
  background-color: #C62CB6 !important;
  border-radius: 30px;
  color: white;
  box-shadow: 24px 32px 42px 0 rgba(0, 0, 0, 0.3), 0 6px 30px 0 rgba(0, 0, 0, 0.10);
}
.navbar-nav .nav-item:hover A.nav-link {color: #ffffff !important}

.section-navbar>ul>li>a:hover {
  color: #ffffff !important;
}
li.nav-item.active a{
  color: #ffffff;
 }


.sideImage2 {
  margin-right: 25px;
  margin-top: 410px;
  width: 790px;
  height: 400px;
  position: absolute;
  bottom: 10px;
  /* width: 600px;
  height: 340px; */
}
.text1 {
  margin-left: 130px;
  margin-top: 210px;
  text-align: left;
}
.text2 {
  margin-left: 130px;
  margin-top: 30px;
  text-align: left;
  position: absolute;
  text-align: left;
  right: 30px;
}
.sideText {
  /* text-align: left;
  margin-top: 20px;
  font-size: 20px;
  font-weight: bold;
  color: #8F2DD9; */
  font-size: 37px;
  font-weight: 800;
  color: #5d3acc;
  font-family: 'robotoBold';
}

.integerate {
  color: #595f6f;
  font-family: 'robotoLight';

}
.sideText3 {
  font-size: 37px;
  font-weight: normal;
  color: #5d3acc;
  font-family: 'robotoLight';
}
.sideText2 {
  margin-left: 35px;
  text-align: left;
  font-size: 45px;
  color: #ffffff;
  font-family: 'robotoBold';
  letter-spacing: 1px;
}
.paragraph {
  margin-left: 35px;
  color: #ffffff;
  font-family: 'robotoLight';
  font-size: 16px;
}
/* .content {
  display: flex;
} */
.smallText {
  font-size: 30px;
  font-weight: normal;
}
.heading {
  font-size: 40px;
  margin-top: 40px;
  margin-left: 0px;
  color: #595f6f;
  font-family: 'robotoBold';
}
.heading4 {
 font-size: 46px;
 margin-top: 80px;
 margin-left: 20px;
 color: #595f6f;
 font-family: 'robotoBold';
}
.gCircle {
  margin-top: 40px;
  width: 170px;
  height: 110px;
  display: block;
}

.thumbnail {
    position: relative;
    display: inline-block;
    margin-left: -35px;
}
.caption {
    position: absolute;
    top: 31.5%;
    left: 36%;
    text-align: center;
    color: white;
    font-weight: bold;
}
.subHeading {
  font-size: 32px;
  margin-top: 20px;
  margin-left: 20px;
  color: black;
}
.paraghraph {
  margin-top: -10px;
  font-size: 25px;
  margin-left: 20px;
}
.iconImage {
  width: 250px;
  height: 250px;
  margin-top: 30px;
  margin-left: 85px;
}
.subHeading2 {
  padding-top: 40px;
  padding-left: 20px;
  font-size: 20px;
  text-align: left;
  color: #3fcbc1;
  font-family: 'robotoBold';
}
.paraghraph2 {
  padding-left: 20px;
  font-size: 14px;
  font-weight: normal;
  text-align: left;
  font-family: 'robotoRegular';
  color: #595f6f;
}
.container1 {
  margin-top: 60px;
}
.heading3 {
  font-size: 46px;
  /* margin-top: 40px;
  margin-left: 170px; */
  text-align: left;
  color: #5d3acc;
  font-family: 'robotoBold';
}
.secText {
  font-size: 40px;
  /* margin-top: -10px;
  margin-left: 170px; */
  color: #5d3acc;
  font-family: 'robotoLight';
}
.container2 {
  margin-top: -40px;
  padding-top: 10px;
}
.paraghraph3 {
  font-size: 30px;
  width: 1500px;
  text-align: center;
  font-weight: 100;
}
.textBox {
  /* margin-top: 50px; */
  align-items: center;
  width: 340px;
  height: 500px;
  background-color: #ffffff;
  border-radius: 2.5px;
  /* margin-left: 400px; */
  /* padding-top: 30px;
  padding-left: 20px; */
  padding: 30px 0px;
}
.centerText {
  margin-top: 20px;
  font-size: 24px;
  text-align: center;
  color: #614ad0;
  font-family: 'robotoMedium';
  padding-bottom: 30px;
}
.name {
  margin-top: 20px;
  font-size: 20px;
  font-weight: lighter;
  margin-left: 30px;
}
.bottomText {
  font-size: 30px;
  text-align: center;
  margin-top: 130px;
}
.bottomText2 {
  font-size: 20px;
  text-align: center;
  margin-top: 40px;
  color: black;
}
.bottomText3 {
  margin-top: -10px;
  font-size: 40px;
  text-align: center;
  font-weight: lighter;
}
.footer {
  width: auto;
  height: 290px;
  background-color: #F0F0F0;
}
.navImage {
  margin-top: -5px;
  width: 40.5px;
  height: 46.5px;
}
.btn-primary, .btn-primary:hover, .btn-primary:active, .btn-primary:visited {
  background-color: #cc3ea1 !important;
  border-width: 0;
  border-radius: 5px;
  color: #ffffff !important;
  margin-top: 20px;
  font-weight: lighter;
  font-family: 'robotoMedium' !important;
  letter-spacing: 0.5px;
  font-size: 12px;
}
.btn {
  padding-top: 14px;
  padding-bottom: 14px;
}
.shadow {
  box-shadow: 24px 32px 42px 0 rgba(0, 0, 0, 0.3), 0 6px 30px 0 rgba(0, 0, 0, 0.10);
}
.bg-light {
  background-color: #ffffff !important;
  /* background-color: #f7f8fb !important; */
}
.navbar.navbar-default .navbar-brand {
  color: #f7f8fb;
}
.navbar.navbar-default .navbar-text {
  font-family: 'robotoRegular';
  color: black;
}
.navbar-landing {display: flex; align-items: flex-start}
.navbar-landing ul .nav-item {margin-top: 20px}
.bgcolor {
  color: #E5EDED;
  width: auto;
  /* height: 600px; */
}
.image{
     height:60em; background-size:cover; width:auto;
     background-image:url('/assets/sec2Bg.png');
     background-position:50% 50%;
     margin-top: 190px;
}
.image2{
     height:60em; background-size:cover; width:auto;
     background-image:url('/assets/sec3Bg.png');
     background-position:50% 50%;
     margin-top: -40px;
}
.image3{
     height:60em; background-size:cover; width:auto;
     background-image:url('/assets/sec4Bg.png');
     background-position:50% 50%;
     margin-top: -40px;
}
.image5{
     height:60em; background-size:cover; width:auto;
     background-image:url('/assets/sec4Bg.png');
     background-position:50% 50%;
     margin-top: -40px;
     padding-bottom: 20px;
}
.backColor {
  background-color: #F0F5F6;
  width: auto;
  height: 700px;
  margin-top: -40px;
}
.subtext {
  color: #5d3acc;
  margin-left: -30px;
  margin-top: 40px;
  font-family: 'robotoRegular';
}
.subtext2 {
  margin-left: -30px;
  color: #595f6f;
  font-size: 12px;
  margin-top: -10px;
  font-family: 'robotoRegular';
}
.rowdirection {
  display: flex;
  flex-direction: row;
}
.subtext3 {
  font-family: 'robotoRegular';
  color: #595f6f;
  margin-bottom: -10px;
}
.buttonBox {
  margin-top: 190px;
  margin-left: 160px;
}
.sec3 {
  width: 450px;
  height: 330px;
  /* margin-top: 80px;
  margin-left: 400px; */
}
.sec5 {
  /* margin-top: 90px;
  margin-left: 70px; */
  margin-left: -95px;
  /* width: 750px;
  height: 350px; */
}
.form-control {
  width: 100px;
  margin-left: 30px;
  margin-right: 30px;
  font-family: 'robotoRegular';
  color: #9aa5c0;
  height: 40px;
  border-radius: 2.5px;
}

.btnPosition {
  margin-left: 50px;
  margin-top: 10px;
}
.form-check-input {
  color: #cc3ea1 !important;
  margin-top: 5px;
  width: 20px;
  height: 20px;
}
.navImage2 {
  margin-left: 10px;
  margin-top: 50px;
  /* margin-left: 90px; */
  width: 80px;
  height: 100px;
}
.footerText {
  /* margin-left: 90px; */
  margin-top: 10px;
  font-size: 10px;
  font-family: 'robotoRegular';
  color: #bfc4ce;
}
.footerStyle{
  text-decoration: none;
  /* margin-left: 90px; */
  margin-top: 10px;
  font-size: 10px;
  font-family: 'robotoRegular';
  color: #bfc4ce;
}
.imgText {
  margin-top: 60px;
  margin-left: 180px;
  margin-right: 90px;
}
.footerHeading {
  /* margin-left: 90px; */
  margin-top: 50px;
  font-size: 14px;
  font-family: 'robotoRegular';
  color: #5d3acc;
}

.bottomImage {
  margin-left: -18px;
  width: 85px;
  height: 85px;
}
.bottomtext {
  margin-left: -10px;
  margin-top: 18px;
  font-size: 10px;
  color: #595f6f;
  font-family: 'robotoRegular';
}

.sec4Box {
  background-color: #fff;
  margin: 10px;
  flex: 0 1 30.5%;
  margin-top: 24px;
  height: 200px;
  padding: 0px 25px;
  border: 0.5px solid #dddfe7;
  border-radius: 2.5px;
}

.rowClass {
  margin-left: -5px;
  margin-top: 25px;
}

.form-check {
  margin-left: 30px;
  margin-right: 30px;
}

.form-check-label {
  margin-top: 2.5px;
  font-size: 14px;
  color: #9aa5c0;
}

.buttonStyle {
  width: 250px;
}

.btnText {
  color: #ffffff;
  font-family: 'robotoRegular';
  text-decoration:  none;
}

.spanStyle {
  text-decoration: none;
  color: #595f6f;
  font-family:'robotoRegular';
  font-size:14px;
}
